.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: auto;
  gap: 20px;
}

.login__label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login__input {
  display: flex;
  padding: 5px 15px;
  border: 1px solid #a9a9a9;
  height: 45px;
  border-radius: 4px;
}
.login__input:hover,
.rlogin__input:focus {
  border: 1px solid black;
}
.login__btn {
  min-width: 150px;
  min-height: 40px;
  font-family: inherit;
  font-size: 18px;
  line-height: inherit;
  font-weight: 700;
  border: none;
  color: black;
  border-radius: 4px;
  background-color: greenyellow;
  cursor: pointer;
}

.login__btn:hover,
.login__btn:focus {
  background-color: lightblue;
}
